@tailwind base;
@tailwind components;
@tailwind utilities;

/* pas d’override du body ici */
html, body { min-height: 100%; }
* { box-sizing: border-box; }
/* Sélection lisible en dark UI */
::selection { background-color: rgba(255,255,255,0.25); color: #fff; }
/* Pour les champs (textarea/input), on inverse pour éviter le blanc sur blanc */
input::selection,
textarea::selection { background-color: #fde68a; color: #111; }
